{{- if eq .chezmoi.os "windows" }}
destDir = "C:/msys64/home/{{ env "USERNAME" }}"

[interpreters.sh]
command = "C:/msys64/usr/bin/sh.exe"

[cd]
command = "C:/msys64/usr/bin/env.exe"
args = ["-u", "XDG_CONFIG_HOME", "MSYSTEM=UCRT64", "C:/msys64/usr/bin/fish.exe", "--login", "-i"]
{{- end }}
