{{- if eq .chezmoi.os "windows" }}
destDir = "C:/msys64/home/{{ env "USERNAME" }}"

[interpreters.sh]
command = "C:/msys64/usr/bin/sh.exe"

[cd]
command = "C:/msys64/usr/bin/env.exe"
args = ["MSYSTEM=UCRT64", "HOME=/home/{{ env "USERNAME" }}", "XDG_CONFIG_HOME=/home/{{ env "USERNAME" }}/.config", "C:/msys64/usr/bin/fish.exe", "--login", "-i"]
{{- end }}
